**/colmap_export
**/RS_export
**/SS_export
**/*.laz
**/__pycache__
**/*.ply
**/.github/prompts/
**/results_renders
**/*.jpg
**/*.png
**/*.pt
.vscode
**/runs
**/*.txt
**/*.cache
**/output
**/colmap_pipeline/data